---
layout: default
---

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article class="posts">

                  {% for post in paginator.posts %}

                        <section>
                            <a href="{{ post.url }}">
                                <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
                            </a>
                            {% if post.title != null and post.title != '' %}
                                <h2>
                                    <a href="{{ post.url }}">
                                        {{ post.title }}
                                    </a>
                                </h2>
                            {% endif %}
                            <p>{{ post.excerpt }}</p>
                            <a href="{{ post.url }}">Read more...</a>
                        </section>

                    {% endfor %}

                    <div class="pagination">
                        {% if paginator.previous_page %}
                            {% if paginator.previous_page != 1 %}
                                <a href="/page{{ paginator.previous_page }}" class="previous">&laquo; Newer</a>
                            {% else %}
                                <a href="{{ site.baseurl }}">&laquo; Newer</a>
                            {% endif %}
                        {% endif %}
                        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                        {% if paginator.next_page %}
                            <a href="/page{{ paginator.next_page }}" class="next">Older &raquo;</a>
                        {% endif %}
                    </div>

                </article>

                <aside>
                    <h3>About Me</h3>
                    <p>I'm the author of <a href="http://shop.oreilly.com/product/9780596803995.do">Head First Ruby</a>, published by O'Reilly.</p>

                    <div class="image">
                      <a href="http://shop.oreilly.com/product/9780596803995.do">
                        <img src="/head_first_ruby_cover_200.png" width="200px" height="232px" alt="Head First Ruby Cover"/>
                      </a>
                    </div>

                    <p>I believe everyone should know how to code, so I give <a href="http://confreaks.com/presenters/169-jay-mcgavren">talks</a> and make <a href="https://teamtreehouse.com/jaymcgavren">interactive courses</a> to help others learn.</p>
                </aside>

            </div> <!-- #main -->
        </div> <!-- #main-container -->
